<h2><%= @recipe.name %></h2>

<p><%= @recipe.description%> </p>

<ul>
  <% @recipe_ingredients.each do |ri| %>
    <% ing = ri.ingredient %>
    <li>
      <%= link_to ing.name, ingredient_path(ing)%>
      (<%= ri.amount %>)
    </li>
  <%end%>
</ul>

<%= link_to 'All Recipes', recipes_path %>